<a href="https://colab.research.google.com/github/Davis-Tony/DS-Unit-2-Linear-Models/blob/master/Davis_Tony_LS_DS_211_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 1*

---

# Regression 1

## Assignment

You'll use another **New York City** real estate dataset. 

But now you'll **predict how much it costs to rent an apartment**, instead of how much it costs to buy a condo.

The data comes from renthop.com, an apartment listing website.

- [ ] Look at the data. Choose a feature, and plot its relationship with the target.
- [ ] Use scikit-learn for linear regression with one feature. You can follow the [5-step process from Jake VanderPlas](https://jakevdp.github.io/PythonDataScienceHandbook/05.02-introducing-scikit-learn.html#Basics-of-the-API).
- [ ] Define a function to make new predictions and explain the model coefficient.
- [ ] Organize and comment your code.

> [Do Not Copy-Paste.](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit) You must type each of these exercises in, manually. If you copy and paste, you might as well not even do them. The point of these exercises is to train your hands, your brain, and your mind in how to read, write, and see code. If you copy-paste, you are cheating yourself out of the effectiveness of the lessons.

If your **Plotly** visualizations aren't working:
- You must have JavaScript enabled in your browser
- You probably want to use Chrome or Firefox
- You may need to turn off ad blockers
- [If you're using Jupyter Lab locally, you need to install some "extensions"](https://plot.ly/python/getting-started/#jupyterlab-support-python-35)

## Stretch Goals
- [ ] Do linear regression with two or more features.
- [ ] Read [The Discovery of Statistical Regression](https://priceonomics.com/the-discovery-of-statistical-regression/)
- [ ] Read [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf), Chapter 2.1: What Is Statistical Learning?

In [ ]:
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [ ]:
# Read New York City apartment rental listing data
import pandas as pd
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

In [ ]:
# Remove outliers: 
# the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= 1375) & (df['price'] <= 15500) & 
        (df['latitude'] >=40.57) & (df['latitude'] < 40.99) &
        (df['longitude'] >= -74.1) & (df['longitude'] <= -73.38)]

In [ ]:
#Reviewing Dataframe
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

###Beginning Linear Regression with One Feature

In [ ]:
#Importing scikit-learn to begin linear regression
from sklearn.linear_model import LinearRegression

In [ ]:
#Instantiate this class
model = LinearRegression()

In [ ]:
#Arranging Features and Target
feature = ['bedrooms']
target = ['price']

x_train = df[feature]
y_train = df[target]

x_train.shape, y_train.shape

((48818, 1), (48818, 1))

In [ ]:
#Checking x_train
x_train.head()

   bedrooms
0         3
1         2
2         1
3         1
4         4

In [ ]:
#Checking y_train
y_train.head()

   price
0   3000
1   5465
2   2850
3   3275
4   3350

In [ ]:
#Fitting the model
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Applying model to data
bedrooms = 4
x_test = [[bedrooms]]

y_pred = model.predict(x_test)
y_pred

array([[5680.99081929]])

In [ ]:
#Defining function to make predictions

def predict(bedrooms):
  y_pred = model.predict([[bedrooms]])
  estimate = y_pred[0]
  coefficient = model.coef_[0]
  print (int(estimate), 'is estimated price for', bedrooms, 'bedrooms')
  print ('In this linear regression, each additional bedroom adds', int(coefficient))

print(predict(5))

6534 is estimated price for 5 bedrooms
In this linear regression, each additional bedroom adds 853
None

In [ ]:
#Displaying coefficient
print('The coefficient shows that each bedroom may increase the value of the condo by $',int(model.coef_[0]))

The coefficient shows that each bedroom may increase the value of the condo by $ 853

###Linear Regression with Two Features

In [ ]:
#Reviewing Dataframe
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [ ]:
#Defining new features to be used
features = ['bedrooms', 'bathrooms']

#No need to establish target because it remains as the price from the single feature regression

x_train = df[features]

In [ ]:
#Fitting model
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
#Evaluating with new data
bedrooms = 4
bathrooms = 2

y_pred = model.predict([[bedrooms, bathrooms]])
y_pred

array([[6203.52309983]])

In [ ]:
#Displaying predictions

import plotly.express as px

fig = px.bar(x=features, y=model.coef_[0])
fig.show()